/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background-color:  #fbfbfb;
    padding-top: 110px;
    font-size: 18px;
    
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    background-color: #fbfbfb;
}

nav{
    display: flex;
    justify-content: space-between;

}

#inicio{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#contacto{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

article{
    background-color: rgba(175, 89, 158, 0.3);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;

}

.contenedor-iconos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contenedor-mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}

form {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.footer{
    min-height: 90px;
    width: 100%;
    background-color: #af599e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fbfbfb;
    padding: 30px;
}

.btn-formulario{
    background-color: #af599e;
    color: #fbfbfb;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn-formulario:hover{
    transform: scale(1.2);
}


label {
    padding: 10px;
    width: 50%;
}

input {
    padding: 10px;
    border-radius: 15px;
    border-color: #af599e;
    border-width: 2px;

}

textarea {
    padding: 10px;
    border-radius: 15px;
    border-color: #af599e;
    border-width: 2px;
}

.img-contacto{
    max-width: 100%;
    width: 60px;
}

.img-contacto:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px #af599e;
}


.btn-descarga{
    background-color:#af599e ;
    color: #fbfbfb;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    
}

.btn-descarga:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #af599e;
}

.eidos-logo{
    width: 150px;
    padding: 10px;
}

.foto-leo{
    max-width: 100%;
    width: 400px;
    border-radius: 50%;
}

.logo-footer{
    border-radius: 10px;
    width: 60px;
}


/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li{
    padding: 10px;
}

ul li:hover{
    color: #fbfbfb;
    background-color: #af599e;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 20px #af599e;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    
}

p{
    margin-top: 20px ;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
}

h1{
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    
}

/* tamaño de titulo secundario*/
h2{
    font-size: 28px;
    text-align: center;
}

.text-footer{
    font-size: 16px;
}




/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
